.tab-container {
  width: 100%;
}

.tab-menu {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.tab-item {
  padding: 10px 0px;
  cursor: pointer;
  width: 33%;
  text-align: center;
}

.tab-item.active {
  color: #000;
  position: relative;
}

.tab-item.active:after {
  display: block;
  height: 4px;
  width: 100%;
  background: #70b67d;
  position: absolute;
  content: "";
}


.tab-panel {
  display: none;
}

.tab-panel.active {
  display: block;
}

/******************소개***********************/
.slider {
  width: 100%;
  margin-bottom: 20px;
}

.slider img {
  border-radius: 5px;
}

#club_intro .swiper-slide {
  position: relative;
  display: inline-block;
  height: auto;
  border-radius: 5px;
}

.swiper-slide img {
  width: 100%;
  height: 173px;
  object-fit: cover;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
}

.swiper-slide img {
  position: relative;
  z-index: 0;
}

.slide_txt {
  position: absolute;
  top: 130px;
  z-index: 9;
  left: 20px;
}

.slide_txt span {
  color: #ffffff;
  font-family: "Pretendard-SemiBold", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 600;
}

.slide_txt p {
  color: #ffffff;
  font-family: "Pretendard-SemiBold", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
}

.custom-pagination {
  position: absolute;
  top: 168px;
  color: #fff;
  z-index: 9;
  right: 20px;
  font-family: "Pretendard-SemiBold", sans-serif;
  font-size: 13px;
}

.slider .list_tit {
  display: flex;
  height: 30px;
  align-items: center;
  margin: 20px 0;
}

.side_info {
  display: flex;
  gap: 10px;
  width: auto;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
}

.list_tit {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  height: auto;
}

.list_tit h2 {
  color: #000000;
  text-align: left;
  font-family: "Pretendard-SemiBold", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.025em;
  font-weight: 600;
  max-width: 200px;
  width: auto;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  white-space: nowrap;
}

.right_cont h4 {
  color: #000000;
  text-align: left;
  font-family: "Pretendard-Medium", sans-serif;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -0.025em;
  font-weight: 500;
  width: 136px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  white-space: nowrap;
}

.right_cont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.category {
  background: rgba(51, 152, 70, 0.7);
  border-radius: 5px;
  width: 44px;
  height: 15px;
  overflow: hidden;
  color: #ffffff;
  text-align: left;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 8px;
  line-height: 15px;
  letter-spacing: -0.025em;
  font-weight: 400;
  display: block;
  text-align: center;
}

.bottom_end {
  display: flex;
  align-items: center;
  gap: 15px;
}

.people img {
  width: 10px;
  display: inline-block;
  height: 100%;
}

.img_left {
  width: 80px;
  height: 80px;
  overflow: hidden;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.img_left img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.list_line {
  margin-bottom: 10px;
  height: 80px;
  display: flex;
  gap: 16px;
}

.explain {
  width: 225px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  white-space: nowrap;
  color: #7e7e7e;
  text-align: left;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: -0.025em;
  font-weight: 400;
  width: 204px;
}

.live {
  color: #7e7e7e;
  text-align: left;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 10px;
  line-height: 24px;
  letter-spacing: -0.025em;
  font-weight: 400;
  display: inline-block;
  width: 37px;
}

.people {
  color: #7e7e7e;
  text-align: left;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 10px;
  line-height: 24px;
  letter-spacing: -0.025em;
  font-weight: 400;
  display: inline-block;
  width: 40px;
  display: inline-flex;
  gap: 3px;
  align-items: center;
}

.time_act {
  color: #ff3521;
  text-align: left;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 10px;
  line-height: 24px;
  letter-spacing: -0.025em;
  font-weight: 400;
  display: inline-block;
  max-width: 70px;
  width: auto;
}

.explain_club {
  display: block;
  float: left;
}

.explain_club p {
  font-size: 14px;
}

.list_wrap {
  display: block;
  float: left;
}

.like_wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 0 20px 0;
}

.like_wrap .btn_02 {
  background: #a1cb3f;
  border-radius: 12px;
  border-style: solid;
  border-color: #e5e5ec;
  border-width: 1px;
  width: 280px;
  height: 50px;
  color: #ffffff;
  text-align: center;
  font-family: "Pretendard-Medium", sans-serif;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: -0.025em;
  font-weight: 500;
}

.like_btn {
  background: #e2e2e2;
  border-radius: 12px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.when {
  color: #9e9e9e;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 11px;
  line-height: 15px;
  font-weight: 400;
}

.ex_club_about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/******************게시판***********************/
.notice_warp {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  background: #efefef;
  padding: 8px 20px;
  border-radius: 10px;
}

.notice_warp span {
  width: 25px;
  height: 25px;
  object-fit: cover;
}

.notice_warp p {
  color: #585858;
  width: 181px;
  font-family: "Pretendard-Regular", sans-serif;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  white-space: nowrap;
}

.board_wrapper {
  display: flex;
  flex-direction: column;
}

.board_cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
  padding: 20px 0;
  border-bottom: 1px solid #DCDCDC;
  gap: 10px;
}

.board_pro {
  width: 50px;
  height: 50px;
}

.board_pro img {
  height: 100%;
  object-fit: cover;
  max-width: 50px;
  border-radius: 10px;
}

.cont_wrap {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.tit_name {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tit_name p {
  font-size: 15px;
  margin-right: 16px;
}

.tit_name span {
  color: #7A7777;
  font-size: 11px;
  font-family: "Pretendard-Regular", sans-serif;
}

.text_board {
  display: block;
}

.text_board p {
  font-size: 13px;
  font-family: "Pretendard-Regular", sans-serif;
}

.bottom_sign {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.bottom_sign div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom_sign div a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom_sign span {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
}

.bottom_sign img {
  object-fit: cover;
}

.bottom_sign p {
  color: #7A7777;
  font-size: 11px;
  font-family: "Pretendard-Regular", sans-serif;
}

.text_board img {
  width: 260px;
  height: 260px;
  border-radius: 10px;
}

.bottom_sign a.on img,
.bottom_sign a:hover img,
.bottom_sign a:active img {
  filter: invert(48%) sepia(10%) saturate(3036%) hue-rotate(79deg) brightness(99%) contrast(81%);
}

.bottom_sign a.on p,
.bottom_sign a:hover p,
.bottom_sign a:active p {
  color: #70b67d;
}